[Unit]
Description=Marzban Watcher
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
EnvironmentFile=/etc/marzban-watcher.env
ExecStart=/opt/marzban-watcher/.venv/bin/python /opt/marzban-watcher/marzban_watch.py
Restart=on-failure
RestartSec=10
User=root
Group=root
WorkingDirectory=/opt/marzban-watcher
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
